/* DOCK
 ----------------- */

.dock {
    color: white;
    background: #103542;
    min-height: 600px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 0;
    box-shadow: inset -10px 0 5px -5px rgba(0,0,0,.12);
    width: 90px;
    a {
      display: block;
      text-decoration: none;
    }

    .floor-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.user-avatar {
    margin: 20px auto;
    text-align: center;
}

.avatar {
    width: 60px;
    border-radius: 50%;
}

.dock-elem {
    color: #84afbd;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 200ms linear;

    i {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 30px;
        &:after {
            color: red;
        }
    }

    div {
        text-decoration: none;
        text-align: center;
        text-shadow: 0 0 1px #000;
        margin-top: 5px;
    }

    &:hover {
        color: white;
        .fa {
            color: inherit;
        }
    }

    &.active {
        color: white;
        .pointer-left {
            position: absolute;
            right: 0px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #f6f6f6;
        }
    }
}

.fa-NN-love {
    color: #e91e63;
}

.fa-NN-explore {
    color: rgba(255,152,0,.75);
}

.fa-NN-sheets {
    color: #738902;
}

.fa-NN-hubs {
    color: #cbbc89;
}
