$border-color: #d9d9d9;
$text-color: #606060;

.live-user-search {
	padding: 10px;

	.user-search-field {
		font-size: 1.5em;
		border: none;
		height: 70px;
		width: 100%;
		padding-left: 10px;
		color: $text-color;
		background: inherit;

		&::placeholder {
			color: #ccc;
			letter-spacing: 2px;
		}

		&:focus {
			outline: none;
			box-shadow: 3px 0px 20px #ccc;
		}
	}
	
	.outer-dropdown {
		position: relative;
		width: 100%;
		height: 10px;
		.dropdown {
			box-sizing: border-box;
			border: 3px solid $border-color;
			width: 100%;
			background: white;
		}
	}
	
	.friend-suggestion {
		display: block;
		height: 70px;
		color: $text-color;
		font-size: 1.4em;
		$ttime: .2s;
		transition: background-color $ttime, color $ttime;
		border-bottom: 2px solid $border-color;

		&:last-child {
			border: 0;
		}

		.suggestion-container {
			height: 100%;

			.name {
				height: 100%;
				padding: 20px 0 0 10px;
				// padding-top: 10%;
				display: inline-block;
				vertical-align: top;
			}
		}

		.picture {
			height: 100%;
		}

		&:hover {
			background: #103542;
			color: #efefef;
		}
	}
}