/* GRID-SYSTEM
 ----------------- */

* {
    box-sizing: border-box;
}

$pad: 20px;

.grid {
    margin: 0 0 $pad 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    [class*='col-'] {
        padding-right: $pad;
        float: left;

        &:last-of-type {
            padding-right: 0;
        }
        &:first-child.skip-1-3 {
            margin-left: 33.33%;
        }
        &:first-child.skip-2-3 {
            margin-left: 66.33%;
        }
    }

    .skip-1-3:before {
        margin-left: 33,33%;
    }

    .col-1-3 {
        width: 33.33%;
    }

    .col-2-3 {
        width: 66.33%;
    }

    .col-1-4 {
        width: 25%;
    }

    .col-2-4 {
        width: 50%;
    }

    .col-3-4 {
        width: 75%;
    }
}