* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: $MAIN_BG;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 300;
    color: $HEADER;
}

a {
  text-decoration: none;
  color: inherit;
}

// Move away from dock when on left side
.main-content {
    @include desktop {
        position: fixed;
        left: $dock-left-width;
        width: calc(100% - #{$dock-left-width});
    }
}


/* UTILITY
 ----------------- */

.clearFloats {
    clear: both;
}