body {
    margin: 0px;
    background: $MAIN_BG;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 300;
    color: $HEADER;
}

a {
  text-decoration: none;
}

.main-content {
    position: fixed;
    left: 90px;
    width: calc(100% - 90px);
}


/* UTILITY
 ----------------- */

.clearFloats {
    clear: both;
}

.btn {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 2px;
    background: $BUTTON_BLUE;
    color: $MAIN-BG;
    border: none;
    font-size: 12px;
    transition: box-shadow .2s;

    &:hover {
        box-shadow: -4px 4px 10px #c4c4c4;
        background: $BUTTON_BLUE_HOVER;
        cursor: pointer;
    }

    &:active {
        background: $BUTTON_BLUE_ACTIVE;
        box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785, 0px 5px 5px #999;
    }
    &:focus { outline: none; }

    &.btn-orange {
        background: $BUTTON_ORANGE;
        color: white;
    }

    &.btn-red {
        background: #A55;
        &:active {
            background: #A25252;
            box-shadow: inset 0px 1px 0px #944, 0px 3px 0px 0px #944, 0px 5px 5px #999;
        }
    }
}

.outer-modal {
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;

    .modal {
        text-align: center;
        padding-bottom: 20px;
        background: #efefef;
        border-radius: 0 0 10px 5px;

        h1 { margin-bottom: 10px; }
        .btn { margin: 0 10px; }

        &.modal-inverted {
            color: white;
            background: #103542;
            box-shadow: inset -10px 0 5px -5px rgba(0,0,0,.12);

            h1 { color: white; }
            .btn:hover { box-shadow: none; }
        }

        // SLIDING OUT
        transition-duration: .4s;
        transform: translate(0, -100%);
        &.modal-active {
            transform: translate(0, 0);
            box-shadow: 0px 2px 10px #999;
        }
    }
}

.pointer-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
}
