$MAIN_BG: #f6f6f6;

body {
    margin: 0px;
    background: $MAIN_BG;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 300;
    color: rgb(70, 70, 70);
}

a {
  text-decoration: none;
}

.main-content {
  padding-left: 90px;
}


/* UTILITY
 ----------------- */

.clearFloats {
    clear: both;
}

.btn {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 2px;
    background: #247794;
    color: rgba(255,255,255,.84);
    border: none;
    font-size: 12px;
    transition: box-shadow .2s;

    &:hover {
        box-shadow: -4px 4px 10px #c4c4c4;
        background: #2780a0;
        cursor: pointer;
    }

    &:active {
        background: #3286a7;
    }

    &:focus {
        outline: none;
    }

    &.btn-orange {
        background: rgba(255,152,0,.75);
        color: white;
    }

    &.btn-red {
        background: #A55;
    }
}

.outer-modal {
    position: absolute;
    width: 100%;
    .modal {

        text-align: center;
        padding-bottom: 20px;
        background: #efefef;
        border-radius: 0 0 10px 5px;

        h1 {
            margin-bottom: 10px;
        }

        .btn {
            margin: 0 10px;
        }

        &.modal-inverted {
            color: white;
            background: #103542;
            box-shadow: inset -10px 0 5px -5px rgba(0,0,0,.12);
            h1 {
                color: white;
            }
            .btn:hover {
                box-shadow: none;
            }
        }

        // SLIDING OUT
        transform: translate3d(0, -100%, 0);
        transition-duration: .4s;

        &.modal-active {
            transform: translate3d(0, 0, 0);
            box-shadow: 0px 2px 10px #999;
        }

    }
}

.pointer-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
}
