<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Nashville Numbers</title>
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/fa/css/font-awesome.css">

    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    {{> dock this}}
    <div class="main-content">
      {{{ body }}}
    </div>
  </body>
</html>
