<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Nashville Numbers</title>
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/fa/css/font-awesome.css">

    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/dock.css" />
    <link rel="stylesheet" href="/css/sheet.css" />
    <link rel="stylesheet" href="/css/sheets-list.css" />
  </head>
  <body>
    {{> dock active}}
    <div class="main-content">
      {{{ body }}}
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
