<div id="hubpage-container">Loading... </div>

<script type="application/json" id="initial_state">{{{hub}}}</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
<script src="/js/hubpage.bundle.js"></script>
