<h1>Welcome to Hubs!</h1>
<p>This is the magical place where magical musicians get to come together and share all sheets related to a project</p>
<form action="/hubs/" method="POST">
  <input type="text" name="name">
  <input class="btn" type="submit" value="Create new hub!">
</form>

<div id="hubspage-container">Loading...</div>

<script type="application/json" id="initial_state">{{{hubs}}}</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
<script src="/js/hubs.bundle.js"></script>
