<h1>Welcome to Hubs!</h1>
<p>This is the magical place where magical musicians get to come together and share all sheets related to a project</p>
<div class="new-hub-modal">
  <input type="checkbox" id="new-hub-form-trigger">
  <label for="new-hub-form-trigger" class="btn">Create one!</label>
  <div class="modal-overlay form-overlay">
    <label for="new-hub-form-trigger" class="modal-close-trigger"></label>
    <div class="modal-wrap">
      <h2>Create a new hub!</h2>
      <form id="new-hub-form" action="/hubs/" method="POST">
        <div class="input-group">
          <label for="name"><span class="fa fa-home"></span></label>
          <input type="text" name="name" id="name" placeholder="Name (e.g: My Band)">
        </div>
        <input type="submit" value="Create">
      </form>
    </div>
  </div>
</div>
<div id="hubspage-container">Loading...</div>

<script type="application/json" id="initial_state">{{{hubs}}}</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
<script src="/js/hubs.bundle.js"></script>
