<h1>Welcome to Hubs!</h1>
<p>This is the magical place where magical musicians get to come together and share all sheets related to a project</p>
<form action="/hubs/" method="POST">
  <input type="text" name="name">
  <input class="btn" type="submit" value="Create new hub!">
</form>
