<div id="sheet-container">... Rendering your sheet, please wait..</div>
<script id="initial-state" type="application/json">{{{state}}}</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
<script src="/js/editor-bundled.js"></script>
