<h1>My Sheets</h1>
<form action="/users/me/sheets" method="POST">
  <label for="title">Title</label>
  <input id="title" type="text" name="title">
  <label for="artist">Artist</label>
    <input id="artist" type="text" name="artist">
    <input class="btn" type="submit" value="New Sheet">
</form>

<div class="list sheets-list">
  {{#each sheets}}
  <li class="sheet-list-entry">
    <a href="/users/me/sheets/{{this._id}}/edit">
      <div class="block-thumb"><span class="fa fa-file-o"></span></div>
      <div class="block-info">
        <div class="title">{{this.properties.title}}</div>
        <div class="artist">{{this.properties.artist}}</div>
        <div class="info">
          <span class="fa fa-globe"></span> public <em>modified
            {{this.createdAtInWords}}</em>
        </div>
      </div>
      <div class="block-actions">
        <span class="fa fa-cloud-download"></span>
        <span class="fa fa-trash-o"></span>
      </div>
    </a>
  </li>
  {{/each}}
</div>
