<h1>WELCOME TO SHEETS PAGE {{{num}}}</h1>
<p>You don't have any sheets yet!</p>
<form action="/sheets" method="POST">
  <label for="title">Title</label>
  <input id="title" type="text" name="title">
  <label for="artist">Artist</lavel>
  <input id="artist" type="text" name="artist">
  <input class="btn" type="submit" value="New Sheet">
</form>
