body {
  margin: 0px;
  background: #f6f6f6;
  font-family: 'Raleway', sans-serif; }

h1 {
  font-weight: 300;
  color: #464646; }

.main-content {
  padding-left: 90px; }

/* UTILITY
 ----------------- */
.clearFloats {
  clear: both; }

.btn {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 2px;
  background: #247794;
  color: rgba(255, 255, 255, 0.84);
  border: none;
  font-size: 12px;
  transition: box-shadow 0.2s; }
  .btn:hover {
    box-shadow: -4px 4px 10px #c4c4c4;
    background: #2780a0;
    cursor: pointer; }
  .btn:active {
    background: #3286a7; }
  .btn:focus {
    outline: none; }
  .btn.btn-orange {
    background: rgba(255, 152, 0, 0.75);
    color: white; }

.pointer-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -10px; }
