/*
 * =====
 * SHEET
 * =====
 */
@font-face {
  font-family: NashvillechordSymbols;
  src: url(../fonts/NashvilleChordSymbols-regular.ttf); }

.sheet {
  padding: 0 20px; }

/* CONTROL PANEL
------------------*/
.sheet-control-panel {
  background: #eee;
  box-shadow: 0px 2px 10px #999;
  min-height: 36px;
  padding: 0px 10px;
  margin-bottom: 40px; }
  .sheet-control-panel .SC-icon {
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px;
    font-size: 1.2em;
    margin-top: 7px; }
    .sheet-control-panel .SC-icon#SC-fav-icon:hover {
      color: #FcAf08;
      text-shadow: 0px 0px 5px #FcAf08; }
  .sheet-control-panel .SC-edit-actions {
    display: inline-block;
    position: relative; }
    .sheet-control-panel .SC-edit-actions .sheet-operations-popup {
      color: white;
      border: 10%;
      margin-top: 10px;
      padding: 10px 5px 0;
      background: #103542;
      box-shadow: 0px 0px 20px #444;
      position: absolute;
      width: 145px;
      left: -60px; }
      .sheet-control-panel .SC-edit-actions .sheet-operations-popup .pointer-up {
        left: 68px;
        border-bottom-color: #103542; }
  .sheet-control-panel #save-button {
    margin-top: 3px;
    font-weight: 800;
    float: right;
    margin-right: 50px; }
  .sheet-control-panel #play-mode-toggle {
    margin-top: 2px;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    border: 2px solid #66aa33;
    padding: 7px;
    border-radius: 10%; }
    .sheet-control-panel #play-mode-toggle:hover {
      color: white;
      background: #66aa33; }

/* EDIT-OP-POPUP
-------------------*/
.add-or-remove-buttons {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .add-or-remove-buttons .btn {
    margin: 0;
    padding: 4px 8px; }
    .add-or-remove-buttons .btn.control-add {
      background: #58AC7E;
      float: right; }
      .add-or-remove-buttons .btn.control-add:hover {
        box-shadow: 0px 0px 4px #588C7E; }
    .add-or-remove-buttons .btn.control-remove {
      background: #D96459;
      float: left; }
      .add-or-remove-buttons .btn.control-remove:hover {
        box-shadow: 0px 0px 6px #D96459; }

/* TITLE
------------------*/
.sheet-title {
  text-align: center;
  text-transform: uppercase; }
  .sheet-title .artist {
    color: #bbb;
    font-size: 0.7em;
    text-transform: none; }

/* SECTION
------------------*/
.section-name {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 0; }

/* BAR
------------------*/
.bar {
  display: inline-block;
  margin-right: 2%;
  width: 23%; }
  .bar.multi-chords {
    border-bottom: 3px solid black; }

/* CHORD
------------------*/
.chord {
  height: 60px;
  width: 24%;
  margin-right: 1%;
  border: none;
  border-radius: 10%;
  font-family: NashvillechordSymbols;
  font-size: 2em;
  cursor: pointer;
  box-shadow: 1px 1px 10px #efefef;
  text-align: center;
  background: inherit; }
  .chord:focus {
    outline: none; }
  .chord.chord-empty {
    box-shadow: 0px 0px 7px #999; }
  .chord.chord-editing {
    background: #66779b;
    font-family: inherit;
    cursor: auto;
    transition: background 300ms; }
