/* SHEETLIST
 ----------------- */
.sheets-listing {
  padding: 75px 10px; }
  .sheets-listing .sheet-list-entry {
    border-bottom: 1px solid #d5d5d5;
    cursor: pointer; }
    .sheets-listing .sheet-list-entry a {
      text-decoration: none;
      color: inherit; }
    .sheets-listing .sheet-list-entry:hover {
      background: #d5d5d5; }
    .sheets-listing .sheet-list-entry .block-thumb {
      width: 10%;
      text-align: center;
      font-size: 50px;
      margin-top: 20px;
      display: inline-block;
      vertical-align: top; }
    .sheets-listing .sheet-list-entry .block-info {
      display: inline-block; }
      .sheets-listing .sheet-list-entry .block-info .title {
        margin: 20px 0 0;
        font-size: 1.2em; }
      .sheets-listing .sheet-list-entry .block-info .artist {
        margin-bottom: 20px;
        color: #555; }
      .sheets-listing .sheet-list-entry .block-info .info {
        margin-bottom: 40px;
        color: #CCC; }
    .sheets-listing .sheet-list-entry .block-actions {
      display: inline-block;
      color: grey;
      float: right;
      font-size: 1.3em;
      cursor: pointer;
      margin-right: 50px; }
      .sheets-listing .sheet-list-entry .block-actions span {
        margin: 20px 5px; }
      .sheets-listing .sheet-list-entry .block-actions :hover {
        color: black; }
