* {
  font-family: Arial, "MS Trebuchet", sans-serif;
}

@font-face {
  font-family: NashvillechordSymbols;
  src: url(../fonts/NashvilleChordSymbols.ttf)
}

.bar {
  border: 1px solid #efefef;
  width: 100%;
}

.chord {
  height: 50px;
  width: 25%;
  margin-right: 3px;
  border: none;
  background: #efefef;
  font-family: NashvillechordSymbols;
  font-size: 2em;
}

.chord.active {
  background: lightblue;
  font-family: inherit;
}
