* {
  font-family: Arial, "MS Trebuchet", sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(34, 34, 34);
  padding: 20px 0 0 0;
}

.footer p {
  text-align: center;
}

@font-face {
  font-family: NashvillechordSymbols;
  src: url(../fonts/NashvilleChordSymbols-regular.ttf)
}

.bar {
  border: 1px solid #efefef;
  margin-left: 10px;
  width: 400px;
}

.chord {
  height: 50px;
  width: 22%;
  margin-right: 3px;
  border: none;
  background: #efefef;
  font-family: NashvillechordSymbols;
  font-size: 2em;
}

.chord.active {
  background: lightblue;
  font-family: inherit;
}
