* {
  font-family: Arial, "MS Trebuchet", sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(34, 34, 34);
  padding: 20px 0 0 0;
}

body > .container {
  padding-top: 60px;
}

.footer p {
  text-align: center;
}

@font-face {
  font-family: NashvillechordSymbols;
  src: url(../fonts/NashvilleChordSymbols-regular.ttf)
}

.sheet {
  background: #efefef;
}

.sheet-title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 20px;
}

.section-name {
  text-decoration: underline;
}

.bar {
  display: inline-block;
  border: 1px solid #efefef;
  margin-right: 3%;
  width: 22%;
}

.chord {
  height: 50px;
  width: 22%;
  margin-right: 3px;
  border: none;
  background: #efefef;
  font-family: NashvillechordSymbols;
  font-size: 2em;
  cursor: pointer;
}

.chord-editing {
  background: lightblue;
  font-family: inherit;
  cursor: auto;
}
