* {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: none;
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/* Sticky footer styles
-------------------------------------------------- */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(34, 34, 34);
  padding: 20px 0 0 0;
}

body > .container {
  padding-top: 60px;
}

.footer p {
  text-align: center;
}

@font-face {
  font-family: NashvillechordSymbols;
  src: url(../fonts/NashvilleChordSymbols-regular.ttf)
}

.sheet-title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 20px;
}

.section-name {
  color: #999;
}

.bar {
  display: inline-block;
  /* border: 1px solid #efefef; */
  margin-right: 2%;
  width: 23%;
}

.bar-with-multiple-chords {
  border-bottom: 3px solid black;
}

.chord {
  height: 60px;
  width: 24%;
  margin-right: 1%;
  border: 1px solid #efefef;
  border-radius: 10%;
  font-family: NashvillechordSymbols;
  font-size: 2em;
  cursor: pointer;
  box-shadow: 1px 1px 10px #efefef;
  text-align: center;
}

.chord:focus {
  outline: none;
}

.chord-empty {
  background-color: #9988ae;
}

.chord-editing {
  background: #66779b;
  font-family: inherit;
  cursor: auto;
  transition: background linear 1s
}
