// * Great colors from https://color.adobe.com/Campfire-color-theme-2528696/
// * green - #588C7E
// * yellow - #F2E394
// * orange - #F2AE72
// * red - #D96459
// * darkred - #8C4646

// Main
$MAIN_BG: #f6f6f6;
$HEADER: #464646;

// Used in dock
$DOCK-TEXT: #84afbd;
$BLUE: #103542;
$ORANGE: rgba(255,152,0,.75);
$RED: #e91e63;
$DARK-RED: #8C4646;
$GREEN: #738902;
$YELLOW: #FCAF08;  // Used as star/fav
$LEMON: #cbbc89;

// Shades of grey
$GREY-1: #EFEFEF;
$GREY-2: #D5D5D5;
$GREY-3: #CCC;
$GREY-4: #B5B5B5;
$GREY-5: #AAA;
$GREY-6: #999;
$GREY-7: #808080;
$GREY-8: #606060;

// Buttons
$BUTTON_BLUE: #247794;
$BUTTON_BLUE_HOVER: #2780A0;
$BUTTON_BLUE_ACTIVE: #3286a7;

$BUTTON_ORANGE: rgba(255, 152, 0, 0.75);
$BUTTON_ORANGE_HOVER: #2780A0;
$BUTTON_ORANGE_ACTIVE: #3286a7;

// Emblem
$EMBLEM-LOGO: #278981;

// MESSAGES
$LIGHT-GREEN: #319936;
$LIGHT-GREEN-2: #66aa33;  // Used as full-screen mode in editor

// EDITOR
$CHORD-EDITING: #66779b;

// Shadows
$THUMB-BOX-SHADOW: 1px 1px 2px grey;

$SELECT-BLUE: #456789;

// METRICS
$dock-left-width: 90px;