/* GRID-SYSTEM
 ----------------- */

$pad: 10px;

.grid {
    margin: 0 0 $pad 0;
    &:after {
        display: table;
        clear: both;
        content: "";
    } 
}

@mixin col($col, $gridsize:12) {
    padding-right: $pad;
    float: left;
    &:last-of-type {
        padding-right: 0;
    }
    width: ($col/$gridsize) * 100%;
}

@mixin skip($col, $gridsize:12) {
    margin-left: ($col/$gridsize) * 100%;
}