/* GRID-SYSTEM
 ----------------- */

$pad: 10px;

.grid {
    margin: 0 0 $pad 0;
    &:after {
        display: table;
        clear: both;
        content: "";
    } 
}

%col-base {
    padding-right: $pad;
    float: left;
    &:last-of-type {
        padding-right: 0;
    }
}

// Genate a set for col-x-10 and col-x-12
@each $gridsize in 10 12 {
    // Generate all intermittend widths from col-1-x to col-x-x
    @for $col from 1 through $gridsize {
        // Define the extendable
        %col-#{$col}-#{$gridsize} {
            @extend %col-base;
            width: ($col/$gridsize) * 100%;
        }
        %skip-#{$col}-#{$gridsize} {
            margin-left: ($col/$gridsize) * 100%;
        }
    }
}