.list {
	list-style: none;
	padding: 0;
	margin-top: 20px;
	width: 100%;

	li {
		box-sizing: border-box;
		border-bottom: 1px solid $GREY-2;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		padding: 10px;
		margin: 0;
		&:hover {
			background: $GREY-2;
		}
	}
}