.search-field {
    
    // The search icon
    span {
        width: 5%;
        text-align: center;
        font-size: 1.3em;
    }
    // The search field
    input {
        width: 95%;
        height: 50px;
        padding-left: 5px;
        font-size: 1.2em;
        border: none;
        &:focus {
            outline: none;
        }
    }
}

.search-dropdown {
    background: $MAIN-BG;
    position: fixed;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        border-bottom: 1px solid $GREY-2;
        cursor: pointer;
        color: $GREY-8;
        padding: 5px;
        z-index: 100;

        &:hover,
        &:focus {
            background: $BLUE;
            color: $MAIN-BG;
        }

        &:first-child {
            border-top: 2px solid $GREY-2;
        }   
    }
}