/* DOCK
 ----------------- */

// Had a hard time with vertical alignment, solution was to
// Have fixed heights and icon/img sizes
$mobile-dock-height: 50px;
$mobile-dock-padding-y: 15px; 
$icon-size: $mobile-dock-height - 2*$mobile-dock-padding-y;



// PHONES/MAIN
.dock {
    height: $mobile-dock-height;
    background: $BLUE;
    padding: $mobile-dock-padding-y 20px;
    box-shadow: inset -10px 0 5px -5px rgba(0,0,0,.12);
    span { display: none; }

    .user-avatar {
        @include span(1);
        float: right;
        position: relative;
        padding: 0;
        img {
            width: $mobile-dock-height - 2 * $mobile-dock-padding-y;
            max-width: 100%;
        }
    }
    .group-1 { @include skipAndSpan(1, 5); }
    .group-2 { @include span(5); }

    .dock-elem {
        @include span(3);
        i { font-size: $icon-size; }
        color: $DOCK-TEXT;
        text-align: center;
        transition: color .1s linear;
        &:active { color: white; }
    }
 }

.fa-NN-love { color: $RED; }
.fa-NN-explore { color: $ORANGE; }
.fa-NN-sheets { color: $GREEN; }
.fa-NN-hubs { color: $LEMON; }

// DESKTOP
@include desktop {
    .dock {
        padding: 0;
        position: fixed;
        bottom: 0;
        top: 0;
        min-height: 600px;
        height: 100%;
        width: $dock-left-width;

        //Reset full width of elements;
        .user-avatar,
        .group-1,
        .group-2,
        .dock-elem {
            @include resetCol;
        }

        .user-avatar {
            text-align: center;
            img {
                border-radius: 50%;
                padding: 15px;
                width: 100%;
            }
        }

        .dock-elem {
            font-size: .9em;
            margin-bottom: 20px;
            cursor: pointer;
            span { 
                text-align: center;
                display: inline-block; 
                text-shadow: 0 0 1px #000;
                margin-top: 5px;
            }
            i {
                width: 100%;
                font-size: 1.9em;
            }

            &:hover {
                color: white;
                .fa {
                    color: inherit;
                }
            }

            &.active {
                .pointer-left {
                    position: absolute;
                    right: 0px;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid $MAIN-BG;
                }
            }
        }
        
        // Lower friends/account/love icons
        .group-2 {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
