/*
* =====
* SHEET
* =====
*/
@font-face {
    font-family: NashvillechordSymbols;
    src: url(../fonts/chords.ttf)
}

@font-face {
    font-family: Norfolk;
    src: url(../fonts/NorfolkTextStd-2015-05-14.otf)
}

.sheet {
    padding: 0 20px;
    overflow-x: scroll;
}

// TODO A lot of pixel nudging here!
.sheet-control-panel {
    @include grid;
    background: $GREY-1;
    box-shadow: 0px 2px 10px $GREY-6;
    padding: 0 10px;
    .action-icons {
        @include span(4);
        .SC-icon {
            @include span(4);
            padding: 5px;
            cursor: pointer;
        }
    }


    #save-button {
        @include span(4);
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    #play-mode-toggle {
        @include skipAndSpan(2, 1);
        border: 2px solid $LIGHT-GREEN-2;
        color: $LIGHT-GREEN-2;
        width: 27px;
        padding: 5px;
        &:active,
        &:hover {
            color: white;
            cursor: pointer;
            background: $LIGHT-GREEN-2;
        }
    }
}

// Edit popup
.SC-edit-actions {
    position: relative;
    .sheet-operations-popup {
        padding: 10px 5px 0;
        width: 145px;
        position: absolute;
        top: 32px;
        left: -60px;
        background: $BLUE;
        color: white;
        box-shadow: 0 0 20px #444;
        &:before {
            content: "";
            @include caretUp(10px, $BLUE);
            margin-left: 38%;
            position: absolute;
            top: -10px;
        }
    }

    .add-or-remove-buttons {
        text-align: center;
        margin-bottom: 10px;
        .btn {
            padding: 4px 8px;
            box-shadow: none;
            &.control-add {
                background: $ADD-ENTITY;
                float: right;
            }
            &.control-remove {
                background: $REMOVE-ENTITY;
                float: left;
            }
        }
    }
}

/* TITLE
------------------*/
.sheet-title {
  .title,
  .artist {
    display: block;
    width: 100%;
    text-align: center;
    background: inherit;
    border: none;
    font-family: inherit;
    &:focus { outline: none; }
  }

  .title {
    text-transform: uppercase;
    color: $HEADER;
    font-size: 1.9em;
    margin-bottom: 8px;
    font-weight: 300;
  }

  .artist {
      color: darken(white, 30);
      font-size: 1.5em;
  }
}

/* SECTION
------------------*/
.section-name {
    color: #999;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.6em;
    background: inherit;
    border: none;
    margin-top: 30px;
    margin-bottom: -100px;
    &:focus { outline: none; }
}

$BAR_WIDTH: 20vw;
.symbols {
    display: inline-flex;
    // Dirty way to provide spacing between rows when there are no symbols
    // Not good.. ?
    min-height: 10px;
    .symbol-container {
        flex: 1;
        width: $BAR_WIDTH;
    }
}

.bars {
    display: inline-flex;
}

// * BAR
// ------------------*/
.bar {
    flex: 1;
    width: $BAR_WIDTH;
    display: flex;
    margin-left: 5px;
    &:first-child { margin-left: 0; }
    &.multi-chords .chords { border-bottom: 3px solid black; }
}

// Coda and segno
.coda,
.segno {
    font-family: Norfolk;
    font-size: 2.5em;
}

.coda {
    float: right;
}

.repeat-left,
.repeat-right {
  width: 13px;
  height: 50px;
  svg { width: 100%; height: 100%; }
}

.chords {
  flex: 1;
  display: inline-flex;
}

// /* CHORD
// ------------------*/
.chord {
    flex: 1;
    border-radius: 5px;
    height: 50px;

    // The input box
    .chord-input {
      position: absolute; // Hide it, but make it focusable
      top: -1000px;
      font-size: 2em;
      background: $CHORD-EDITING;
      border-radius: 5px;
      border: none;
      width: 100%;
      height: 100%;
      padding-left: 5%;
      &:focus {outline: none; }
    }

    // The displayed chord
    .chord-display {
      text-align: center;
      font-family: NashvillechordSymbols;
      font-size: 2em;
      cursor: pointer;
      height: 100%;
    }

    &.chord-editing {
        .chord-input { position: static; }
        .chord-display { display: none; }
    }
    &.chord-empty { box-shadow: 0px 0px 7px #999; }
}

// // ======
// // TABLET
// // ======
@include tablet {
    .sheet-control-panel {
        padding: 5px;
        .action-icons { @include span(2); }
        #save-button { @include skipAndSpan(3, 2); }
        #play-mode-toggle { @include skip(4); }
    }
    .chord { max-width: 50%; }
}

// // =======
// // DESKTOP
// // =======
@include desktop {
    .sheet-control-panel {
        padding-left: 20px;
        .action-icons { @include span(2, 16); }
        #save-button { @include skipAndSpan(8, 1); }
        #play-mode-toggle { @include skip(1); }
    }
    .chord {
        // @include span(3);
    }
}
