/*
* =====
* SHEET
* =====
*/
@font-face {
    font-family: NashvillechordSymbols;
    src: url(../fonts/chords.ttf)
}

@font-face {
    font-family: Norfolk;
    src: url(../fonts/NorfolkTextStd-2015-05-14.otf)
}

.sheet {
    padding: 0 20px;
}

// TODO A lot of pixel nudging here!
.sheet-control-panel {
    @include grid;
    background: $GREY-1;
    box-shadow: 0px 2px 10px $GREY-6;
    padding: 0 10px;
    .action-icons {
        @include span(4);
        .SC-icon {
            @include span(4);
            padding: 5px;
            cursor: pointer;
        }
    }


    #save-button {
        @include span(4);
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    #play-mode-toggle {
        @include skipAndSpan(2, 1);
        border: 2px solid $LIGHT-GREEN-2;
        color: $LIGHT-GREEN-2;
        width: 27px;
        padding: 5px;
        &:active,
        &:hover {
            color: white;
            cursor: pointer;
            background: $LIGHT-GREEN-2;
        }
    }
}

// Edit popup
.SC-edit-actions {
    position: relative;
    .sheet-operations-popup {
        padding: 10px 5px 0;
        width: 145px;
        position: absolute;
        top: 32px;
        left: -60px;
        background: $BLUE;
        color: white;
        box-shadow: 0 0 20px #444;
        &:before {
            content: "";
            @include caretUp(10px, $BLUE);
            margin-left: 38%;
            position: absolute;
            top: -10px;
        }
    }

    .add-or-remove-buttons {
        text-align: center;
        margin-bottom: 10px;
        .btn {
            padding: 4px 8px;
            box-shadow: none;
            &.control-add {
                background: $ADD-ENTITY;
                float: right;
            }
            &.control-remove {
                background: $REMOVE-ENTITY;
                float: left;
            }
        }
    }
}

/* TITLE
------------------*/
.sheet-title {
    text-align: center;
    text-transform: uppercase;
    .artist {
        color: darken(white, 30);
        font-size: 0.7em;
        text-transform: none;
    }
}

/* SECTION
------------------*/
.section-name {
    color: #999;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.symbols {
    display: flex;
    // Dirty way to provide spacing between rows when there are no symbols
    // Not good.. ?
    min-height: 10px;
    .symbol-container {
        flex: 1;
    }
}

.bars {
    display: flex;
}

// * BAR
// ------------------*/
.bar {
    flex: 1;
    display: flex;
    margin-left: 5px;
    &:first-child { margin-left: 0; }
    &.multi-chords .chords { border-bottom: 3px solid black; }
}

// Coda and segno
.coda,
.segno {
    font-family: Norfolk;
    font-size: 2.5em;
}

.coda {
    margin-left: auto;
    float: right;
}

.repeat-left,
.repeat-right {
  width: 6%;
  height: 50px;
  svg { width: 100%; height: 100%; }
}

.chords {
  flex: 1;
  display: inline-flex;
}

// /* CHORD
// ------------------*/
.chord {
    flex: 1;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    font-family: NashvillechordSymbols;
    font-size: 2em;

    &:focus {outline: none; }
    &.chord-empty {box-shadow: 0px 0px 7px #999; }
    &.chord-editing {
        background: $CHORD-EDITING;
        font-family: inherit;
        cursor: auto;
        transition: background 300ms;
    }
}

// // ======
// // TABLET
// // ======
@include tablet {
    .sheet-control-panel {
        padding: 5px;
        .action-icons { @include span(2); }
        #save-button { @include skipAndSpan(3, 2); }
        #play-mode-toggle { @include skip(4); }
    }
    .chord { max-width: 50%; }
}

// // =======
// // DESKTOP
// // =======
@include desktop {
    .sheet-control-panel {
        padding-left: 20px;
        .action-icons { @include span(2, 16); }
        #save-button { @include skipAndSpan(8, 1); }
        #play-mode-toggle { @include skip(1); }
    }
    .chord {
        // @include span(3);
    }
}
