/* SHEETLIST
 ----------------- */

.sheets-list {
    padding: 75px 10px;

    .sheet-list-entry {
        border-bottom: 1px solid $GREY-2;
        cursor: pointer;
        a {
            color: inherit;
        }
        &:hover {
            background: $GREY-2;
        }
        .block-thumb {
            @extend %col-1-10;
            text-align: center;
            font-size: 50px;
            margin-top: 20px;
        }
        .block-info {
            @extend %col-8-10;
            .title {
                margin: 20px 0 0;
                font-size: 1.2em;
            }
            .artist {
                margin-bottom: 20px;
                color: #555;
            }
            .info {
                margin-bottom: 40px;
                color: $GREY-3;
            }
        }

        .block-actions {
            @extend %col-1-10;
            color: $GREY-7;
            font-size: 1.3em;
            cursor: pointer;
            span {
                margin: 20px 5px;
            }
            :hover {
                color: black;
            }
        }
    }
 }