.userpage {
    padding: 10px;
}

.user-header {
    margin-top: 20px;
    @include grid;
}

.user-widget {
    margin-bottom: 30px;
    .profile-picture-wrap {
        width: 100%;
        text-align: center;
    }
    .profile-picture {
        width: 100%;
        max-width: 150px;
        border-radius: 10%;
        border: 2px solid $BLUE;
    }
    .info { text-align: center; }
    .message { margin-bottom: 20px; }
}

.friend-confirmed-label {
    border: 2px solid $LIGHT-GREEN;
    display: inline-block;
    width: 100px;
    border-radius: 8px;
    color: $LIGHT-GREEN;
    cursor: pointer;
    &:before {
        font-family: FontAwesome;
        content: "\0f00c";
    }
    &:after { content: " Friends"; }
    &:hover {
        border-color: $DARK-RED;
        color: $DARK-RED;
        &:before { content: "\0f00d"; }
        &:after { content: " Delete" }
    }
}

.user-stats {
    .emblem { width: 100%; }
    .stats { 
        @include skipAndSpan(4, 4); 
        text-align: center;
    }
    .stat {
        list-style: none;
        margin-bottom: 7px;
        color: #b5b5b5;
        border-left: 3px solid $ORANGE;
        strong { color: black; }
    }
}

// TABLET
@include tablet {
    .user-widget {
        @include span(6);
        border-right: 1px solid $GREY-2;
    }
    .user-stats { @include span(6); }
}

// DESKTOP
@include desktop {
    .user-widget {
        .profile-picture-wrap { @include skipAndSpan(1, 3); }
        .info { 
            @include span(8);
        }
    }
    .user-stats {
        .emblem { 
            padding-left: 20px;
            @include span(7); 
        }
        .stats { @include skipAndSpan(1, 4); }
    }
}